.project-icon {
	width: 100%;
	min-height: 25vh;
/* 	background-color: #0087cb; */
	background-color: #333;
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
    transition: all 0.5s ease 0s;
    font-size: 30px;
    cursor: pointer;
}
.project-icon:hover{
	background-color: #0087cb;
    transition: all 0.5s ease 0s;
    font-size: 25px;
    height: 30vh;
}
.projects-container {
	width: 100%;
	style: flex;
}
.project-content {
	margin: 0 100px;
	text-align: center;
}