.section-container {
/* 	height: 100%; */
	height: calc(100vh - 180px);
}
.window {
	padding: 0;
	height: 150px;
/* 	border: solid 1px white; */
	display: flex;	
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 200;
/*     color: #F0F0F0; */
}
.window.text {
	width: 300px;
    justify-content: center;
}
.window.input {
	width: 300px;
    font-size: 25px;
    font-weight: 300;
}
.window.button-bar{
	width: 600px;
	height: 100px;
	justify-content: flex-end;
}
.button {
	margin-right: 20px;
	margin-left: 100px;
	padding: 5px 20px;
	cursor: pointer;
	background-color: #000;
	border: 1px solid #fff;
	letter-spacing: 2px;
	color: #F0F0F0;
}
.button:hover {
	background-color: #222;
	border: 1px solid #000;
}
.login-input{
	background-color: #EEE;
	color: #000;
	border: solid 1px #444444;
	text-indent: 20px;
	width: 280px;
	height: 60px;
    letter-spacing: 2px;
}
.login-input:focus {	
    outline-color: #df4244;
}
.content {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.login-container {
	height: 400px;
	width: 600px;
	background-color: #FFF;
	color: #000000;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}