.header {
	height: 60px;
	background-color: black;
	width: 100%;
}
.link {
	justify-content: center;
	color: white;
	width: 60px;
	height: 60px;
	flex-grow: 0;
	padding: 0;
	padding-top: 15px;
}
.link:hover {
	background-color: #222;
}
.link.selected {
	background-color: #df4244;
}