<menu-header></menu-header>

<router-outlet></router-outlet>

<footer>
	<div class="center icon-container">
		<a target="_blank" href="https://github.com/LtSnuggie" class="fa fa-github fa-2x icon-row" aria-hidden="true"></a>
		<a target="_blank" href="https://www.linkedin.com/in/andrew-lintereur-4b25521a" class="fa fa-linkedin fa-2x icon-row" aria-hidden="true"></a>
		<a target="_blank" href="https://www.facebook.com/andrew.lintereur" class="fa fa-facebook fa-2x icon-row" aria-hidden="true"></a>
		<a target="_blank" href="https://www.instagram.com/lt.snuggie/" class="fa fa-instagram fa-2x icon-row" aria-hidden="true"></a>
	</div>
	<a class="highlight" href="/#/home">andrew-lintereur</a>.com © 2016
</footer>