/* /* You can add global styles to this file, and also import other style files */ */
/* body { */
/* 	margin: 0; */
/* } */

/* footer { */
/* 	text-align : right; */
/* /* 	width: 100%; */ */
/* 	padding : 20px; */
/* 	padding-right : 40px; */
/*     border-top: #606060 solid 1px; */
/*     background-color: black; */
/*     color: white; */
/*     font-family: helvetica; */
/* } */
/* body { */
/* /* 	min-width: 450px; */ */
/* } */
/* .button { */
/* 	opacity: 1; */
/* 	color: white; */
/* 	padding: 10px; */
/* 	border: 1px solid #37a8d2; */
/* 	display: inline-block; */
/*     text-transform: uppercase; */
/*     font-family: helvetica; */
/*     cursor:pointer; */
/*     letter-spacing: .1em; */
/* 	margin: 30px; */
/* 	margin-left: 1vw; */
/* 	float: right; */
/* 	font-weight: 400; */
/* } */
/* .button:hover, .button.selected { */
/* 	background-color: #37a8d2; */
/* /* 	color: #777777; */ */
/* } */
/* .link { */
/* 	opacity: 1; */
/* 	color: #777777; */
/* 	display: inline-block; */
/*     text-transform: uppercase; */
/*     font-family: helvetica; */
/*     cursor:pointer; */
/*     letter-spacing: .1em; */
/* 	margin: 41px 1vw; */
/* 	float: right; */
/* 	font-weight: 400; */
/* 	text-decoration: none; */
/* } */
/* .link.selected, .link.selected:hover{ */
/* 	color: white; */
/* } */
/* .link:hover{ */
/* 	color:#37a8d2; */
/* } */
/* .link:focus, .link:hover{ */
/* 	text-decoration : none; */
/* } */
/* .selected:hover { */
/* 	cursor : default; */
/* } */
/* .highlight { */
/* 	color: #37a8d2; */
/* 	text-decoration : none; */
/* } */
/* .heading{ */
/*     font-family: "proxima-nova"; */
/*     font-size: 34px; */
/*     line-height: 1.9em; */
/* } */
/* .body{ */
/*     font-family: "proxima-nova"; */
/*     font-size: 18px; */
/*     line-height: 1.8em; */
/* } */
/* .content-container { */
/* 	padding: 80px 0 120px 0; */
/* 	display: flex; */
/* 	width: 100%; */
/* 	align-items: center; */
/* 	justify-content: center; */
/* 	flex-flow: row wrap; */
/* } */
/* .content-container.mobile { */
/* 	padding: 0 0; */
/* 	display: block; */
/* } */
/* .section-container.heading{  */
/* 	padding-bottom : 0px; */
/* } */
/* .section-container{  */
/* 	padding-bottom : 40px; */
/* } */
/* .section-container.mobile{ */
/* 	padding : 0 8.333%; */
/* } */
/* img.center { */
/*     display: block; */
/*     margin: 0 auto; */
/*     width: 100%; */
/* } */
/* .center { */
/* 	text-align : center; */
/* } */
/* .right { */
/* 	text-align : right; */
/* } */
/* .left { */
/* 	text-align : left; */
/* } */
/* .icon-container { */
/* /* 	color : #666; */ */
/* 	color : #FFFFFF; */
/* } */
/* .icon-container:hover{ */
/* 	color : #666; */
/* } */
.icon-row {	
	padding : 5px;
}
.icon-row.fa {
	color : #666; 
}
.icon-row.fa:hover, .icon-row.fa:focus{
	color : #ffffff;
	cursor : pointer;
    text-decoration: none;
    background-color: #df4244;
}
/* .project-icon{ */
/* 	width: 600px; */
/* 	height: 450px; */
/* 	border: solid 1px #808080; */
/* 	border-radius: 10px; */
/* 	text-align: center; */
/* 	vertical-align: middle; */
/* 	line-height: 450px; */
/* 	font-size: 50px; */
/* 	cursor: pointer; */
/* 	margin: 20px; */
/* 	color: rgba(0, 0, 0, 0); */
/* 	background: url(assets/img/json-background.png) no-repeat scroll 0 0 transparent;; */
/* } */
/* .project-icon:hover{ */
/* 	color: #FFFFFF; */
/* /* 	background-color: #37a8d2; */ */
/* 	opacity: .7; */
/* } */
.section-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	wdith: 100%;
}
.content-container {
	flex-grow: 1;
	text-align: center;
	padding: 30px;
    font-family: helvetica;
    letter-spacing: .2px;
	font-size : 20px;
}
.section-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	wdith: 100%;
}
footer {
	border-top: solid 1px #555;
	height: 60px;
	background-color: #F0F0F0;
	width: 100%;
	position: fixed;
	bottom: 0;
	
}
.link {
	color: #777777;
	cursor: pointer;
}
.link.footer {
	
}
.content-container.link {
	justify-content: center;
/* 	color: white; */
	width: 60px;
	height: 60px;
	flex-grow: 0;
	padding: 0;
	padding-top: 15px;
}
@media all and (max-width: 800px) {
	footer{
		position: relative;
		bottom: initial;
	}
}